@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC Entity Framework Participation</h1>
    <p class="lead">This Participation covers basic use of MVC and the Entity Framework.</p>
    <p><a href="https://ou.edu" target="_blank" class="btn btn-primary btn-lg">Go to OU's homepage &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p>
            This section will give a student's first name, last name, and favorite color.
        </p>
        <p> @Html.ActionLink("See More", "Index", "Students") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>This section will give the name, term, and course code for each course in the database.</p>
        <p> @Html.ActionLink("See More", "Index", "Courses") &raquo;</p>
    </div>
    <div class="col-md-4">
        <h2>Registrations</h2>
        <p>This section displayes the registration info for students and courses. (Enrollment date, course name, and first name of the registered student)</p>
        <p> @Html.ActionLink("See More", "Index", "Registrations") &raquo;</p>
    </div>
</div>