@model IEnumerable<P_MVC_EF.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseNumber)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.CourseID })
        </td>
    </tr>
}

</table>
