@model IEnumerable<P_MVC_EF.Models.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Student List</h2>



<div class="container">
    <div class="card-columns">
        @foreach (var item in Model)
        {
            <div class="card" style="width:200px; height:200px">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.FirstName)</h4>
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.LastName)</h4>
                <a class="stretched-link" @Html.ActionLink("Click Card For Details", "Details", new { id = item.StudentID })></a>
            </div>
        }
    </div>
</div>


