@model IEnumerable<P_MVC_EF.Models.Student>

@{
    ViewBag.Title = "Students";
}

<h2>Student List</h2>



<div class="container">
    <div class="col-3">
        @foreach (var item in Model)
        {
            <div class="card" style="width:auto;">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</h5>
                <h6 class="card-subtitle">@Html.DisplayFor(modelItem => item.FavoriteColor)</h6>
                @Html.ActionLink("Details", "Details", new { id = item.StudentID })
            </div>
        }
    </div>
</div>


